<html  xmlns:th="http://www.thymeleaf.org">
<head>
  <link th:href='@{/CSS/style.css}' rel='stylesheet'>
</head>
<body class='bgi'>
 <div class='dvv'>
   <label class='lah' style='color:orange;text-decoration:underline;font-size:2.5vw'>User Registration</label>
  </div>
  <hr>
 <div class='dv'>
  <label class='lah' style='color:magenta' th:text="${'Congratulations!!!'+name}"> </label>
  <br><br>
  <label  style='font-size:2.1vw;color:blue'>You have been registered successfully</label>
 </div>
 <div class='dvv'>
   <a href='login' class='btl'>Click to Login</a>
 </div>
</body>
</html>