<html xmlns:th="http://www.thymeleaf.org">
<div th:insert="top"></div>
<body class='bgi'>
  <div class='dv'>
   <a href='addjob' class='btl' style='margin-left:2vw'>Post Jobs</a>
   <a href='list' class='btl' style='margin-left:2vw'>Job List</a>
   <a href='' class='btl' style='margin-left:2vw'>Application Recieved</a>   
   <a href='addcompany' class='btl' style='margin-left:2vw'>Add Company</a>
   <a href='companylist' class='btl' style='margin-left:2vw'>Company List</a>
   <a href='profile' class='btl' style='margin-left:2vw'>My Profile</a>
  </div>
 </body>
 </html>