<html  xmlns:th="http://www.thymeleaf.org">
<head>
  <link th:href='@{/CSS/style.css}' rel='stylesheet'>
  <link th:href='@{/CSS/login.css}' rel='stylesheet'>
</head>
<body class='bgi'>
 <div class='dvv'>
   <label class='lah' style='color:orange;text-decoration:underline;font-size:2.5vw'>Company Registered</label>
  </div>
  <hr>
  <div align='center'>
    <div class='dvuser'>
      <label style='color:green;font-size:2.4vw' th:text="${'Congratulations, '+name}"></label>
      <div class='dv'>
       <label style='color:red;font-size:2.4vw'>You have been sucessfully Registered a Company</label>
      </div>
      <div class='dv'>
		  <a href='addcompany' class='an'>Add Another Company</a>
       	  <a href='home' class='an'> Home Page</a>
      </div>
    </div>
  </div>  
</body>
</html>