<html xmlns:th="http://www.thymeleaf.org">
 <head>
  <script th:src="@{/JS/script.js}"> </script>
  <link th:href='@{/CSS/style.css}' rel='stylesheet'>
  <link th:href='@{/CSS/bootstrap.min.css}' rel='stylesheet'>
 </head>
 <body>
  <div class='dvv'>
   <table style="width:95%"><tr>
   		<td>
   			<label th:text="${'Hi, '+session.name}" style='margin-left:3vw;color:blue;font-size:2.5vw;font-weight:bold'></label>
   		</td>	
   		<td align="center">
      	  <label style='color:darkblue;font-size:3vw'>Welcome To Job Portal</label>
      	</td>
  		<td align='right'><a href='logout'  class='btl'>Logout</a></td>
   </tr></table>
  </div>
  <hr style="border:2px solid green">
 </body>
</html>